/* ------- reset CSS ------- */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
}

ul,
ol,
li {
  list-style: none;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
  color: inherit;
  outline: none;
  cursor: pointer;
}

button,
button:hover,
button:active,
button:focus {
  border: 0;
  background-color: transparent;
  outline: none;
  -webkit-appearance: none;
  cursor: pointer;
}

button[disabled] {
  pointer-events: none;
}

input:required,
input:invalid {
  box-shadow: none;
}

input:focus,
textarea:focus,
select,
select:focus,
a:focus {
  outline: none;
}

/* ------- basic setting ------- */
$standard-font-family: "Noto Sans TC", sans-serif;
$brand-font-family: "Lato", "Noto Sans TC", sans-serif;
$standard-font-size: 16px;
$white: #ffffff;
$rose-pink: #f67599;
$shadow-gray: #f9f9f9;
// gray for border and horizontal line:
$light-gray: #f0f0f5;
// gray for inactive info:
$neutrals-gray: #afb1bd;
// gray for checked steps:
$dark-gray: #333333;
$phone-width: 375px;
$pad-width: 540px;
$pc-width: 900px;
$max-width: 1056px;

:root {
  --bg-color: #{$white};
  --body-color: #2a2a2a;
  --footer-bg: #f6f7f8;
  --footer-color: #808080;
  --footer-color-title: #2a2a2a;
}

[dark-theme="dark"] {
  --bg-color: #121212;
  --body-color: #{$white};
  --footer-bg: #{$dark-gray};
  --footer-color: #{$light-gray};
  --footer-color-title: #{$white};
}

// Mixins for RWD media queries
@mixin pad-media {
  @media all and (min-width: $pad-width) {
    @content;
  }
}

@mixin pc-media {
  @media all and (min-width: $pc-width) {
    @content;
  }
}

%standard-boxshadow {
  box-shadow: 3px 0 13px 0 rgba(100, 112, 134, 0.1);
}

// create shorthand sizing classes
$sizes: (
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%,
);

/* shorthand sizing classes */
@each $prop, $abbrev in (width: w, height: h) {
  @each $num, $percentage in $sizes {
    .#{$abbrev}-#{$num} {
      #{$prop}: #{$percentage};
    }
  }
}

// create shorthand spacing classes
$spacer: 1rem;
$multiple: (1, 2, 3, 4, 5);

/* shorthand spacing classes */
@each $prop, $abbrev in (margin: m, padding: p) {
  @each $num in $multiple {
    .#{$abbrev}-#{$num} {
      #{$prop}: $num * 0.5 * $spacer;
    }
    .#{$abbrev}t-#{$num} {
      #{$prop}-top: $num * 0.5 * $spacer;
    }
    .#{$abbrev}r-#{$num} {
      #{$prop}-right: $num * 0.5 * $spacer;
    }
    .#{$abbrev}b-#{$num} {
      #{$prop}-bottom: $num * 0.5 * $spacer;
    }
    .#{$abbrev}l-#{$num} {
      #{$prop}-left: $num * 0.5 * $spacer;
    }
    .#{$abbrev}x-#{$num} {
      #{$prop}-left: $num * 0.5 * $spacer;
      #{$prop}-right: $num * 0.5 * $spacer;
    }
    .#{$abbrev}y-#{$num} {
      #{$prop}-top: $num * 0.5 * $spacer;
      #{$prop}-bottom: $num * 0.5 * $spacer;
    }
  }
}

/* shorthand classes related of display and flexbox */
.d-none {
  display: none;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

@each $num in (1, 2, 3) {
  .flex-grow-#{$num} {
    flex-grow: $num;
  }
}

/* shorthand border-radius classes */
@each $num in (1, 2) {
  .rounded-#{$num} {
    border-radius: $num * 0.25 * $spacer;
  }
}

.rounded-circle {
  border-radius: 50%;
}

/* ------- project styles starts here ------- */
body {
  font-family: $standard-font-family;
  font-size: $standard-font-size;
  background-color: var(--bg-color);
  color: var(--body-color);
}

/* --- header --- */
header {
  height: 56px;
  width: 100%;
  position: relative;

  .header-menu {
    height: 100%;
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
    position: relative;
    @include pc-media {
      flex-direction: row;
      justify-content: space-between;
    }
    .navbar-toggle-label {
      width: 56px;
      height: 56px;
      font-size: 17px;
      cursor: pointer;
      line-height: 56px;
      text-align: center;
      @include pc-media {
        display: none;
      }
    }
    .header-actions {
      height: 70px;
      z-index: 2;
      background-color: var(--bg-color);
      font-size: 20px;
      box-shadow: 0 7px 7px 0 rgba(224, 228, 233, 0.1);
      opacity: 0;
      transform: scale(1, 0) translateY(-600%);
      transform-origin: top;
      transition: all 0.2s ease-in;
      @include pad-media {
        font-size: 1rem;
        opacity: 1;
        transform: scale(1, 1);
        position: absolute;
        right: 0;
        box-shadow: unset;
      }
      .header-link {
        height: 70px;
        @include pad-media {
          height: 56px;
        }
        &:hover {
          color: $rose-pink;
        }
        &:active {
          background-color: $shadow-gray;
        }
      }
    }
  }

  .brand {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    img {
      width: 24px;
      height: 24px;
    }
    .shop-name {
      font-family: $brand-font-family;
      font-weight: 900;
      font-size: 18px;
      letter-spacing: 0.75px;
    }
  }
}

nav {
  width: 100%;
  z-index: 1;
  font-weight: 500;
  background-color: var(--bg-color);
  box-shadow: 0 7px 7px 0 rgba(224, 228, 233, 0.1);
  opacity: 0;
  transform: scale(1, 0);
  transform-origin: top;
  transition: all 0.2s ease-in;
  @include pc-media {
    opacity: 1;
    transform: scale(1, 1);
    width: 50%;
    background-color: transparent;
    box-shadow: unset;
  }

  .nav-list {
    @include pc-media {
      display: flex;
    }
  }

  .nav-item {
    width: 100vw;
    padding: 25px;
    text-align: center;
    position: relative;
    @include pc-media {
      margin-left: 0.5rem;
      width: auto;
      padding: 1rem 1rem 1rem 0;
    }
    .nav-link {
      display: inline-block;
      width: 100%;
      height: 100%;
    }
    &:hover {
      color: $rose-pink;
    }
    &:active {
      background-color: $shadow-gray;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 14.5px;
      right: 14.5px;
      height: 2px;
      background-color: $light-gray;
      @include pc-media {
        all: unset;
      }
    }
  }
}

#navbar-toggle:checked {
  ~ label {
    color: $rose-pink;
    ~ nav {
      opacity: 1;
      transform: scale(1, 1);
      ~ .header-actions {
        opacity: 1;
        transform: scale(1, 1) translateY(0);
      }
    }
  }
}

/* --- Main --- */
form {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0.5rem;
  .form-title {
    font-size: 32px;
    font-weight: 700;
  }
}

.steps-wrapper {
  margin: 24px 0;
  position: relative;
  .step {
    background-color: var(--bg-color);
    padding: 0 32px;
    color: $neutrals-gray;
    .step-circle {
      width: 2rem;
      height: 2rem;
      border: 1px solid $neutrals-gray;
    }
    .step-label {
      margin-left: 12.5px;
      @include pc-media {
        display: unset;
      }
    }
    &.active {
      color: var(--body-color);
      .step-circle {
        border-color: $dark-gray;
      }
    }
    &.checked {
      color: var(--body-color);
      .step-circle {
        border-color: $dark-gray;
        background-color: $dark-gray;
        color: $white;
      }
    }
  }
  .step-bar {
    height: 2px;
    width: 100%;
    position: absolute;
    top: 50%;
    z-index: -5;
    background-color: $neutrals-gray;
  }
  .progress-line {
    height: 2px;
    width: 50%;
    position: absolute;
    top: 50%;
    z-index: -1;
    background-color: $dark-gray;
  }
}



// temporary style
.form-row {
  gap: 2rem;
  
}
.form-unit{
  // outline: 1px solid red;
}

.form-part input , .form-part select {
  border-radius: 4px;
}